// ─────────────────────────────────────────────────────────────────────────────
// PAGE STYLES
// Interior pages have their own stylesheet for styles that only exist on
// that page. Any styles shared between pages, including repeated sections,
// should go into root.scss
// ─────────────────────────────────────────────────────────────────────────────

/*-- -------------------------- -->
<---          Pricing           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #pricing-603 {
      padding: var(--sectionPadding);
    }
    #pricing-603 .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
      position: relative;
    }
    #pricing-603 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }
    #pricing-603 .cs-toggle-group {
      width: auto;
      margin: 2rem auto 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #pricing-603 .cs-plan {
      font-size: 1rem;
      line-height: 1.5em;
      margin: 0;
      padding: 0;
      color: var(--headerColor);
    }
    #pricing-603 .cs-plan:hover {
      cursor: pointer;
    }
    #pricing-603 .cs-toggle {
      width: 3.875rem;
      height: 2.25rem;
      border-radius: 2.5rem;
      background-color: var(--primaryLight);
      margin: 0 0.75rem;
      position: relative;
      /* prevent flexbox from squishing it */
      flex: none;
    }
    #pricing-603 .cs-toggle:hover {
      cursor: pointer;
    }
    #pricing-603 .cs-toggle.active:before {
      opacity: 1;
    }
    #pricing-603 .cs-toggle.active .cs-toggle-switch {
      left: 2rem;
    }
    #pricing-603 .cs-toggle:before {
      /* top right box */
      content: "";
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, #009FE3 0%, #EF3340 100%);
      opacity: 0;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      border-radius: 2.5rem;
      transition: opacity 0.3s;
    }
    #pricing-603 .cs-toggle-switch {
      width: 1.5rem;
      height: 1.5rem;
      display: block;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0.375rem;
      transition: left 0.3s;
      background: #fff;
    }
    #pricing-603 .cs-card-group {
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 16px - 20px */
      gap: clamp(1rem, 1.8vw, 1.25rem);
      row-gap: 2.5rem;
      perspective: 700px;
      transform-style: preserve-3d;
    }
    #pricing-603 .cs-card-group.active.cs-option1 {
      /* when the active class is on the cs-card-group, run these styles */
      transform: scale(0);
      position: absolute;
      left: 0;
      bottom: 0;
      opacity: 0;
      visibility: hidden;
    }
    #pricing-603 .cs-card-group.active.cs-option1 .cs-item {
      /* when the active class is on the cs-card-group, run these styles */
      opacity: 0;
      transform: translateY(1.25rem) rotateY(90deg);
      transition: opacity 0.3s,
                              transform 0.6s;
    }
    #pricing-603 .cs-card-group.active.cs-option2 {
      /* when the active class is on the cs-card-group, run these styles */
      visibility: visible;
      pointer-events: all;
      opacity: 1;
      position: relative;
      left: auto;
      top: auto;
      transform: scale(1);
    }
    #pricing-603 .cs-card-group.active.cs-option2 .cs-item {
      /* when the active class is on the cs-card-group, run these styles */
      opacity: 1;
      transform: translateY(0rem) rotateY(0deg);
    }
    #pricing-603 .cs-option1 {
      /* default styles when there is no active class on the cs-card-group */
      opacity: 1;
      visibility: visible;
      left: left;
      bottom: auto;
      transform: scale(1);
      transform-origin: left top;
      transition: transform 0.6s,
                  opacity 0.3s,
                  visibility 0.3s;
    }
    #pricing-603 .cs-option1 .cs-item {
      /* default styles when there is no active class on the cs-card-group */
      opacity: 1;
      transform: translateY(0rem) rotateY(0deg);
      transition: opacity 0.3s,
                      transform 0.6s;
    }
    #pricing-603 .cs-option1 .cs-item:nth-of-type(2) {
      transition-delay: 0.2s;
    }
    #pricing-603 .cs-option1 .cs-item:nth-of-type(3) {
      transition-delay: 0.4s;
    }
    #pricing-603 .cs-option2 {
      /* default styles when there is no active class on the cs-card-group */
      visibility: hidden;
      pointer-events: none;
      opacity: 0;
      position: absolute;
      left: 0;
      /* reset on tablet */
      top: 62.5rem;
      transform: scale(0);
      transform-origin: left top;
      transition: transform 0.6s,
                  opacity 0.3s,
                  visibility 0.3s,
                  bottom 0.6s;
    }
    #pricing-603 .cs-option2 .cs-item {
      /* default styles when there is no active class on the cs-card-group */
      opacity: 0;
      transform: translateY(1.25rem) rotateY(90deg);
      transition: opacity 0.3s,
                      transform 0.6s;
    }
    #pricing-603 .cs-option2 .cs-item:nth-of-type(2) {
      transition-delay: 0.2s;
    }
    #pricing-603 .cs-option2 .cs-item:nth-of-type(3) {
      transition-delay: 0.4s;
    }
    #pricing-603 .cs-item {
      list-style: none;
      width: 100%;
      /* matches the -88px the cs-price-box's margin top to offset it */
      margin: 5.5rem 0 0 0;
      /* 80px - 100px top *
              /* 16px - 56px left & right */
      /* 16px - 48px bottom */
      padding: clamp(5rem, 9vw, 6.25rem) clamp(1rem, 2.3vw, 3.5rem) clamp(1rem, 5vw, 3rem);
      box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.17);
      background-color: #fff;
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      border-radius: 0.5rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    #pricing-603 .cs-price-box {
      width: 100%;
      /* 32px - 48px margin-bottom */
      margin: -10.5rem 0 clamp(2rem, 5vw, 3rem) 0;
      /* 24px - 32px top & bottom */
      /* 24px - 48px left and right */
      padding: clamp(1.5rem, 4vw, 2rem) clamp(1.5rem, 3vw, 3rem);
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      background-color: #12192d;
      border-radius: 0.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.75rem;
    }
    #pricing-603 .cs-package {
      /* 16px - 20px */
      font-size: clamp(1rem, 2vw, 1.25rem);
      line-height: 1.2em;
      text-align: center;
      font-weight: 700;
      margin: 0;
      color: var(--bodyTextColorWhite);
    }
    #pricing-603 .cs-price {
      /* 24px - 32px */
      font-size: clamp(1.5rem, 2.5vw, 2rem);
      line-height: 1.2em;
      text-align: center;
      font-weight: 700;
      margin: 0;
      color: var(--bodyTextColorWhite);
    }
    #pricing-603 .cs-desc {
      font-size: 0.75rem;
      line-height: 1.2em;
      text-align: center;
      margin: 0;
      color: var(--bodyTextColorWhite);
      opacity: 0.8;
    }
    #pricing-603 .cs-item-text {
      font-size: 0.875rem;
      line-height: 1.5em;
      text-align: left;
      font-weight: 400;
      /* 16px - 24px */
      margin: 0 0 clamp(1rem, 2vw, 1.5rem);
      color: var(--bodyTextColor);
    }
    #pricing-603 .cs-included {
      /* 16px - 20px */
      font-size: clamp(1rem, 2vw, 1.25rem);
      line-height: 1.2em;
      text-align: left;
      font-weight: 700;
      /* 16px - 24px */
      margin: 0 0 clamp(1rem, 2vw, 1.5rem);
      color: var(--headerColor);
    }
    #pricing-603 .cs-ul {
      /* 32px - 48px */
      margin: 0 0 clamp(2rem, 5vw, 3rem);
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 1rem;
    }
    #pricing-603 .cs-li {
      font-size: 0.875rem;
      list-style: none;
      line-height: 1.5em;
      width: 100%;
      margin: 0;
      padding: 0;
      color: var(--bodyTextColor);
      display: flex;
      justify-content: flex-start;
      /* push everything to the top so if the li goes to two lines the icon stays at the top */
      align-items: flex-start;
      gap: 1rem;
    }
    #pricing-603 .cs-icon {
      width: 0.9375rem;
      height: auto;
      /* push icon a little from the top so it looks centered */
      margin-top: 0.1875rem;
      display: block;
    }
    #pricing-603 .cs-button-solid {
      font-size: 1rem;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #fff;
      min-width: 9.375rem;
      padding: 0 1.5rem;
      background-color: var(--primary);
      border-radius: 0.25rem;
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
    }
    #pricing-603 .cs-button-solid:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 0%;
      background: #000;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 0.25rem;
      transition: width 0.3s;
    }
    #pricing-603 .cs-button-solid:hover:before {
      width: 100%;
    }
    #pricing-603 .cs-price-button {
      /* 14px - 18px */
      font-size: clamp(0.875rem, 1.5vw, 1.125rem);
      /* 36px - 50px */
      line-height: clamp(2.25rem, 4.5vw, 3.125rem);
      font-weight: 400;
      text-transform: uppercase;
      width: 100%;
      height: clamp(2.25rem, 4.5vw, 3.125rem);
      /* pushes button to the bottom of the cs-item */
      margin-top: auto;
      border-radius: 0.25rem;
    }
  }
  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #pricing-603 .cs-card-group {
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
    }
    #pricing-603 .cs-option2 {
      top: auto;
      bottom: 0;
    }
  }
                  

/* Dark mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #gallery-48 {
            .cs-title {
                color: var(--bodyTextColorWhite);
            }
        }
    }
}
/*-- -------------------------- -->
<---        Why Choose          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #why-choose-289 {
        text-align: center;
        padding: var(--sectionPadding);
    }
    #why-choose-289 .cs-container {
        width: 100%;
        /* changes to 1280px on tablet */
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #why-choose-289 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }
    #why-choose-289 .cs-topper {
        font-size: var(--topperFontSize);
        line-height: 1.2em;
        text-transform: uppercase;
        text-align: inherit;
        letter-spacing: 0.1em;
        font-weight: 700;
        color: var(--primary);
        margin-bottom: 0.25rem;
        display: block;
    }
    #why-choose-289 .cs-title {
        font-size: var(--headerFontSize);
        font-weight: 900;
        line-height: 1.2em;
        text-align: inherit;
        max-width: 43.75rem;
        margin: 0 0 1rem 0;
        color: var(--headerColor);
        position: relative;
    }
    #why-choose-289 .cs-text {
        font-size: var(--bodyFontSize);
        line-height: 1.5em;
        text-align: inherit;
        width: 100%;
        max-width: 40.625rem;
        margin: 0;
        color: var(--bodyTextColor);
    }
    #why-choose-289 .cs-text {
        max-width: 32.625rem;
    }
    #why-choose-289 .cs-card-group {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
    }
    #why-choose-289 .cs-item {
        list-style: none;
        text-align: left;
        width: 100%;
        padding: 2rem;
        background-color: #f7f7f7;
        border-radius: 1rem;
        /* prevents padding from adding to height and width */
        box-sizing: border-box;
        transition: background-color 0.3s;
    }
    #why-choose-289 .cs-item:hover {
        background-color: var(--primary);
        cursor: pointer;
    }
    #why-choose-289 .cs-item:hover .cs-icon {
        filter: grayscale(1) brightness(200%);
    }
    #why-choose-289 .cs-item:hover .cs-h3 {
        color: var(--bodyTextColorWhite);
    }
    #why-choose-289 .cs-item:hover .cs-item-text {
        color: var(--bodyTextColorWhite);
    }
    #why-choose-289 .cs-icon {
        width: auto;
        height: 3rem;
        margin-bottom: 1.5rem;
        display: block;
        transition: filter 0.3s;
    }
    #why-choose-289 .cs-h3 {
        /* 20px - 25px */
        font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
        line-height: 1.2em;
        margin: 0;
        margin-bottom: 1rem;
        color: var(--headerColor);
        transition: color 0.3s;
    }
    #why-choose-289 .cs-item-text {
        font-size: 1rem;
        line-height: 1.5em;
        margin: 0;
        color: var(--bodyTextColor);
        transition: color 0.3s;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #why-choose-289 .cs-container {
        max-width: 80rem;
    }
    #why-choose-289 .cs-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        gap: 4rem;
    }
    #why-choose-289 .cs-flex {
        width: 50%;
    }
    #why-choose-289 .cs-title {
        margin: 0;
    }
    #why-choose-289 .cs-card-group {
        justify-content: space-between;
        /* makes sure every box "stretches" to be the same height as the tallest box */
        align-items: stretch;
        flex-direction: row;
        /* 16px - 20px */
        gap: clamp(1rem, 1.5vw, 1.25rem);
    }
    #why-choose-289 .cs-item {
        width: auto;
        /* 16px - 32px */
        padding: 2rem clamp(1rem, 2.1vw, 2rem);
    }
}

                                
